@charset "utf-8";



body{
    font-family: sans-serif;
}

/*Cabeçalho*/

.soPequeno{
    display: none;
}

.soMedio{
    display: block;
}

.soGrande{
    display: none;
}

article{
    width: 44.9%;
    float: left;
    margin: auto 2.5%;
    padding-bottom: 30px;
}


article:last-of-type{
    width: 94.9%;
    float: none;
    margin: auto;
}

